<div class="container">
  <div>
    <app-header />
  </div>

  <div>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #left mode="push" closed>
        <div class="sidenav-left">
          <span><app-search-pokemon /></span>
        </div>
        <div>
          <app-history-pokemon />
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <button
          mat-icon-button
          matTooltip="Pulse para ver el menu"
          matTooltipPosition="right"
          class="icon-sidenav"
          (click)="left.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <router-outlet />
        <div><app-footer /></div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
