<div class="search-container-list">
  <mat-nav-list *ngIf="historySearchPokemons(); else notSearch">
    <div mat-subheader><strong>Pokemons que ya has buscado:</strong></div>

    <mat-list-item *ngFor="let pokemon of historySearchPokemons()">
      <button
        mat-stroked-button
        class="button-pokemon"
        (click)="searchPokemon()"
        color="primary"
      >
        {{ pokemon.name }}
      </button>
    </mat-list-item>
  </mat-nav-list>

  <ng-template #notSearch>No has buscado ningun pokemon </ng-template>
</div>
