<div class="container-card" *ngIf="pokemons().length !== 0; else notPokemon">
  <mat-card
    class="example-card"
    *ngFor="let pokemon of pokemonsPaginator; let i = index"
  >
    <mat-card-header>
      <div mat-card-avatar>
        <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
      </div>
    </mat-card-header>

    <mat-card-content class="card-content">
      <img
        class="image-pokemon"
        [src]="pokemon.sprites.other.dream_world.front_default"
        alt="Pokemon "
      />
      <p></p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <a
        [routerLink]="['/pokemon/pokemon/', i]"
        routerLinkActive="router-link-active"
      >
        <button mat-stroked-button color="accent">More details</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<app-paginator (eventPaginator)="nextTenPokemon($event)" />

<ng-template #notPokemon>
  <mat-card class="card-not-pokemon">
    <mat-card-content>
      <h1>Aquí se mostran los pokemon que busques ...</h1></mat-card-content
    >
  </mat-card>
</ng-template>
